<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Quora Question Pairs</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='webicon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Quora Question Pairs</span></h2>
            <br>
            <div class='description'>
    			<p>A Machine Learning Web App for identifying if the question pairs have the same intent</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict_duplicates') }}" method="POST">
                <input class="form-input" type="text" name="question1" placeholder="Enter the first Question", required ='required'><br>
                <br>
                <input class="form-input" type="text" name="question2" placeholder="Enter the second question", required ='required'><br>

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/Hassi34/QuoraQuestionPairs"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/hasanain-mehmood-a37a4116b/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.facebook.com/hasnain.mehmood.944/"><i class="fab fa-facebook fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.instagram.com/hasanain_mehmood/"><i class="fab fa-instagram fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Developed with ❤️| © 2022 Hasnain Mehmood.  All rights reserved!</p>
       </div>

    </body>
</html>
